html {
  font-size: 10px;
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 12px;
  line-height: 3;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #FFFFFF;
}

body,
      html {
        height: 100%;
        margin: 0;
      }
      .bg {
        background-image: url("https://wallpapercrafter.com/sizes/2560x1440/14420-starry-sky-stars-shine-night-trees-starry-night-4k.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

body {
  width: 600px;
  margin: 0 auto;
  background-color: #8BABC9;
  padding: 0 20px 20px 20px;
  border: 5px solid white;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #FFFFFF;
  text-shadow: 3px 3px 1px gray;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}

