html {
  font-size: 10px;
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: #FB93AD;
  text-align: center;
}

h3 {
  font-size 12px;
  line-height: 1;
  letter-spacing: 1px;
  color: #FB93AD;
  text-align: center;
}

html { 
  background: url("https://i.pinimg.com/originals/91/d8/2d/91d82dc95f08060e490a5ca7bc40c378.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #FB93AD;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #080405;
  padding: 0 20px 20px 20px;
  border: 5px #FB93AD;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #FB93AD;
  text-shadow: 3px 3px 1px white;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}

